li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.flag {
  height: auto;
}

.short-name {
  font-weight: bold;
}

.checkbox {
  height: 15px;
  width: 15px;
  margin: auto;
}